[submodule "puppet/modules/postgresql"]
	path = puppet/modules/postgresql
	url = https://github.com/puppetlabs/puppetlabs-postgresql.git
[submodule "puppet/modules/concat"]
	path = puppet/modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "puppet/modules/python"]
	path = puppet/modules/python
	url = https://github.com/stankevich/puppet-python.git
