[rabbitmq]
host=localhost
port=5672
username=guest
password=guest
exchange=amq.topic

[redis]
host=localhost
port=6379
db=0

[openstack]
admin_name=storlet_manager
admin_pass=storlet_manager
admin_tenant=storlet_management
keystone_url=http://10.30.235.235:5000/v2.0/tokens

[logstash]
host=iostack.urv.cat
port=5400